body {
    width: 1366px;
    height: 768px;
    background-color: azure;
    text-align: center;
}
div {
    background-color: cornflowerblue;
    margin: auto;
    border: solid;
    margin-bottom: 50px;
}
#section {
    width: 700px;
    height: 600px;
}
hr {
    width: 250px;
}
ol {
    width: 50%;
    margin: auto;
    background-color: blueviolet;
    text-align: left;
}
a{
    background-color: darkblue;
    padding: 0px 130px;
}
a:hover{
    background-color: darkcyan;
}