h1 {
    text-align: center;
}
p {
    text-align: center;
    display: block;
}
button {
    width: 30%;
    padding: 37px 10px;
    margin: 10px;
    background-color: rgb(176, 183, 179);
    border-radius: 12px;
}
body {
    background-color: rgb(231, 236, 232);
    float: center;
    text-align: center;
}
.fb {
    width: 15%;
    padding: 16px;
}
.h {
    width: 15%;
    padding: 16px;
}
div {
    display: flex;
    justify-content: flex-end;
}
a.btn {
    width: 400px;
    height: 150px;
    border-radius: 30px;
    background-color: mintcream;
    margin: 10px;
    float: left;
    display: block;
}
main {
    width: 1266px;
    margin: auto;
}
footer {
    clear: both;
}
a :hover{
    transform: scale(1.023);
    box-shadow: 3px 6px 6px 0px rgb(0,0,0,.11);
}
