table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 15px;
}
caption {
    font-weight: bold;
    padding: 20px;
}
tr:hover {
    background-color: rgb(118, 152, 147);
}
th {
    background-color: rgb(202, 222, 215);
}