img {
    width: 50%;
    margin: auto;
}
main {
    width: 100%;
    margin: auto;
    text-align: center;
}
header {
    text-align: center;
}
section {
    background-color: darkgray;
    margin: 0px 50px;
    height: 225px;
}
p {
    float: left;
    width: 46%;
    padding: 0px 2%;
    text-align: left;
}
nav a {
    padding: 0px 20px;
}
nav a:hover {
    background-color: darkgray;
}
ul {
    float: right;
}
li {
    text-align: left; 
    width: 80%;
    padding: 0px 2%;
}