img {
    width: 50%;
}
main {
    width: 68%;
    margin: auto;
    text-align: center;
}
header {
    text-align: center;
}
section {
    background-color: darkgray;
    height: 75px;
}
p {
    float: left;
    width: 46%;
    padding: 0px 2%;
    text-align: left;
}
nav a {
    padding: 0px 50px;
}
nav a:hover {
    background-color: black;
}